# Dependencies
node_modules/
package-lock.json

# Build outputs
dist/
.astro/

# Studio
studio-nextaz/dist/
studio-nextaz/node_modules/
studio-nextaz/.sanity/

# Other
.DS_Store
.prettierrc.mjs
.prettierrc

.claude
docs