---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Contact | Nextaz"
  description="Contactează echipa Nextaz. Suntem aici să te ajutăm cu orice întrebare despre vinurile noastre."
>
  <div class="h-20"></div>
</Layout>
