---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import allWines from '../assets/all-wines.png';
import allWinesMobile from '../assets/all-wines-mobile.png';
---

<Layout title="Nextaz">
  <div class="flex min-h-screen flex-col items-center">
    <picture class="inset-0 h-full w-full">
      <source media="(min-width: 1024px)" srcset={allWines.src} />
      <Image src={allWinesMobile} class="w-full object-cover" loading="eager" alt="All Wines" />
    </picture>
    <h1
      class="animate-pulse bg-linear-to-r from-red-500 via-rose-400 to-red-600 bg-clip-text text-7xl font-bold text-transparent drop-shadow-[0_0_15px_rgba(239,68,68,0.5)]"
    >
      NEXTAZ
    </h1>
    <div
      class="absolute top-75 flex w-80 flex-col items-center border border-white/30 bg-white/1 p-8 shadow-2xl backdrop-blur-sm lg:w-[33vw]"
    >
      <h2 class="mb-4 text-center text-4xl font-bold">
        Pentru momentele<br />ce vin.
      </h2>
      <p class="mb-6 text-center text-lg">
        Eleganță, și autenticitate, create pentru momentele în care vrei să fie bine.
      </p>
      <a href="/shop" class="btn-add-to-cart"> Comandă </a>
    </div>
  </div>
</Layout>
