---
import Layout from '../layouts/Layout.astro';
import { Content } from '../../docs/nextaz-terms-md.md';
---

<Layout
  title="Termeni și Condiții | Nextaz"
  description="Termenii și condițiile de utilizare a site-ului nextaz.ro și a serviciilor oferite."
>
  <div
    class="prose prose-lg prose-headings:font-bold prose-h1:text-3xl prose-h2:text-2xl prose-h3:text-xl prose-a:text-black prose-a:underline mx-auto max-w-4xl px-6 pt-48 pb-32 lg:px-10 lg:pt-60"
  >
    <Content />
  </div>
</Layout>
