---
import Logo from '../assets/logo.svg';
import Facebook from '../assets/facebook.svg';
import Instagram from '../assets/instagram.svg';
import Whatsapp from '../assets/whatsapp.svg';
import Email from '../assets/email.svg';
---

<footer class="text-gray text-base">
  <div class="mx-16 flex">
    <!-- Logo and Social Icons -->
    <div class="mr-4 flex grow flex-col space-y-11">
      <a href="/">
        <Logo class="w-33 text-black" />
      </a>
      <nav class="flex flex-row space-x-8">
        <a href="https://www.facebook.com/nextaz/" target="_blank" rel="noopener">
          <Facebook class="hover:darken" />
        </a>
        <a href="https://www.instagram.com/nextaz/" target="_blank" rel="noopener">
          <Instagram class="hover:darken" />
        </a>
        <a href="https://wa.me/your-number" target="_blank" rel="noopener">
          <Whatsapp class="hover:darken" />
        </a>
        <a href="mailto:contact@nextaz.ro">
          <Email class="hover:darken" />
        </a>
      </nav>
      <p class="max-w-80">
        Eleganță, prospețime și autenticitate, create pentru momentele în care vrei să fie bine.
      </p>
    </div>

    <!-- Three Column Layout -->
    <div class="flex">
      <div class="flex flex-col space-y-6 pr-16">
        <a href="/" class="hover:darken">Acasă</a>
        <a href="/shop" class="hover:darken">Shop</a>
        <a href="/contact" class="hover:darken">Contact</a>
      </div>

      <!-- Column 2 -->
      <div class="flex flex-col space-y-6 pr-16">
        <a href="mailto:contact@nextaz.ro" class="hover:darken">contact@nextaz.ro</a>
        <a href="tel:0755123456" class="hover:darken">0755123456</a>
        <div class="flex flex-col items-center lg:items-start">
          <span>Strada Mureșului, 5</span>
          <span>Cluj-Napoca</span>
        </div>
      </div>

      <div class="flex flex-col space-y-6 pr-16">
        <a href="/politica-confidentialitate" class="hover:darken">Politica de Confidențialitate</a>
        <a href="/termeni-conditii" class="hover:darken">Termeni și Condiții</a>
        <a href="/setari-cookies" class="hover:darken">Setări Coookies</a>
      </div>
    </div>
  </div>
  <div class="mx-16 mt-10 border-t border-(--custom-gray) pt-10">
    <p class="text-sm text-(--custom-gray)">design by Symbold®</p>
  </div>
  <div class="h-[60%] w-full overflow-hidden">
    <Logo class="w-full opacity-10" />
  </div>
</footer>
