---
import Logo from '../assets/logo.svg';
import Facebook from '../assets/facebook.svg';
import Instagram from '../assets/instagram.svg';
import Whatsapp from '../assets/whatsapp.svg';
import Email from '../assets/email.svg';
---

<footer class="mx-6 lg:mx-30">
  <div class="flex flex-col items-center gap-8 text-center lg:flex-row lg:items-start lg:text-left">
    <!-- Logo and Social Icons -->
    <div class="flex grow flex-col items-center space-y-4 lg:items-start">
      <a href="/">
        <Logo />
      </a>
      <nav class="flex flex-row space-x-4">
        <a href="https://www.facebook.com/nextaz/" target="_blank" rel="noopener">
          <Facebook />
        </a>
        <a href="https://www.instagram.com/nextaz/" target="_blank" rel="noopener">
          <Instagram />
        </a>
        <a href="https://wa.me/your-number" target="_blank" rel="noopener">
          <Whatsapp />
        </a>
        <a href="mailto:contact@nextaz.ro">
          <Email />
        </a>
      </nav>
    </div>

    <!-- Three Column Layout -->
    <div class="flex flex-wrap justify-center gap-6 text-(--custom-gray) lg:flex-nowrap lg:justify-start lg:gap-0">
      <div class="flex flex-col items-center space-y-4 lg:items-start lg:pr-16">
        <a href="/" class="hover:darken transition-colors">Acasă</a>
        <a href="/shop" class="hover:darken transition-colors">Shop</a>
        <a href="/contact" class="hover:darken transition-colors">Contact</a>
      </div>

      <!-- Column 2 -->
      <div class="flex flex-col items-center space-y-4 lg:items-start lg:pr-16">
        <a href="mailto:contact@nextaz.ro" class="hover:darken transition-colors"
          >contact@nextaz.ro</a
        >
        <a href="tel:0755123456" class="hover:darken transition-colors">0755123456</a>
        <span>Strada Mureșului, 5</span>
        <span>Cluj-Napoca</span>
      </div>

      <div class="flex w-full flex-col items-center space-y-4 lg:w-auto lg:items-start lg:pr-16">
        <a href="/politica-confidentialitate" class="hover:darken transition-colors"
          >Politica de Confidențialitate</a
        >
        <a href="/termeni-conditii" class="hover:darken transition-colors">Termeni și Condiții</a>
        <a href="/setari-cookies" class="hover:darken transition-colors">Setări Coookies</a>
      </div>
    </div>
  </div>
  <div class="border-t border-(--custom-gray) pt-6 text-center lg:text-left">
    <p class="text-sm text-(--custom-gray)">design by Symbold®</p>
  </div>
</footer>
